<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>

    
    <header>
        <h1>SEND A MESSAGE TO CHRIS's CELLPHONE</h1>
        <h2>Chris' reply and other messages sent to <span>778-655-0666</span> will also appear on this page</h2>
    </header>


    <input type="text"></input>
    <input type="submit"></input>
 

    <ul>

    </ul>

    <script src="socket.io/socket.io.js"></script>
    <script>


    var socket = io();

    var submit = document.querySelector('input[type=submit]')
    var text = document.querySelector('input[type=text]')

    submit.addEventListener('click',function(e){
            socket.emit('msg', text.value, function(){
                console.log('sent')
            })
            text.value = ""
    },false)

    text.addEventListener('keydown',function(e){
        if(e.keyCode == 13){
            socket.emit('msg', text.value, function(){
                console.log('sent')
            })
            text.value = ""
        }
    })


    var ul = document.querySelector('ul')

    socket.on('load_msgs', function(data){
            //console.log(data)

            //for(var index in data) { document.write('<div>'+data[index][body]+'</div>') }

            ul.innerHTML = ""

            data.forEach(function(message){

		if (message.sid == "SMa630ebf44731cb0a89bd99221db82398" || message.sid == "SMc9d1da28b6f04ab8acce8cc87ea61877" || message.sid == "SM379a60a15a0e1f5fcdf9200f59a2c3d0"){
			console.log('!');
		} else {


            li = document.createElement("li");
 
		if (message.from == "+17786550666"){
			li.innerHTML = "<b>YOU: </b>" + message.body
		} else if (message.from == "+12505080533"){
			li.innerHTML = "<b>CHRIS: </b>" + message.body
		} else {
			li.innerHTML = "<b>?: </b>" + message.body
		}
           	
		ul.appendChild(li);

		}
            });
			
    
    });

//    socket.on('likes', function(likes){ console.log(likes)} );

    </script>



</body>
</html>



